# Python
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Fichiers sensibles
.env
.env.*
!.env.example

# Fichiers statiques générés
staticfiles/

# Médias utilisateurs
media/

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Cache
.pytest_cache/
.mypy_cache/
